/* ABOUT */

.about-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:30px;
}

.about-card h3{
margin-bottom:15px;
color:var(--secondary);
}

.about-card p{
color:var(--text2);
line-height:1.8;
}

/* SKILLS */

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;
}

.skill-card{
text-align:center;
}

.skill-card i{
font-size:50px;
margin-bottom:20px;
color:var(--secondary);
}

.skill-card h3{
margin-bottom:10px;
}

.skill-card p{
color:var(--text2);
}

/* PROGRESS BAR */

.skill-progress{
margin-top:20px;
}

.progress{
height:10px;
background:#222;
border-radius:20px;
overflow:hidden;
margin-top:10px;
}

.progress-fill{
height:100%;
background:linear-gradient(
45deg,
var(--primary),
var(--secondary));
border-radius:20px;
}

/* STATS */

.stats{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
}

.stat-box{
text-align:center;
}

.stat-box h2{
font-size:55px;
color:var(--secondary);
margin-bottom:10px;
}

.stat-box p{
color:var(--text2);
}

/* PROJECTS */

.projects-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:25px;
}

.project-card img{
width:100%;
height:220px;
object-fit:cover;
border-radius:15px;
margin-bottom:20px;
}

.project-card h3{
margin-bottom:10px;
}

.project-card p{
color:var(--text2);
line-height:1.7;
}

.project-card a{
display:inline-block;
margin-top:15px;
color:var(--secondary);
text-decoration:none;
font-weight:600;
}

/* CONTACT */

.contact-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.contact-item{
text-align:center;
}

.contact-item i{
font-size:40px;
color:var(--secondary);
margin-bottom:15px;
}

.contact-item p{
color:var(--text2);
}

/* FOOTER */

footer{
padding:40px;
text-align:center;
background:#090512;
color:var(--text2);
margin-top:60px;
}

/* RESPONSIVE */

@media(max-width:900px){

.hero{
flex-direction:column;
text-align:center;
gap:50px;
}

.hero h1{
font-size:50px;
}

.about-grid{
grid-template-columns:1fr;
}

nav ul{
display:none;
}

}